.details {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 1000px;

  &__container {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-self: center;
    justify-content: space-between;
    flex-wrap: wrap;

    @include larger {
      width: 80%;
    }
  }

  &__image {
    width: 100%;
    box-shadow: 2px 2px 6px #000;
  }

  &__price {
    font-size: 18px;
    font-weight: 900;
    color: $primary-color;
    text-align: end;

    @include larger {
      width: 80%;
      margin: 0 auto;
    }
  }

  &__description {
    margin: 1rem 0;

    @include larger {
      width: 80%;
      margin: 1rem auto;
    }
  }
  &__facilites {
    height: 100%;
    color: $primary-color;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    &__bedtype {
      display: flex;
      align-items: center;
    }

    p {
      color: $primary-color;
    }
    svg {
      color: $primary-color;
      font-size: 20px;
    }
  }
}
