.Accommodations {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1.5rem;

  .AccommodationCard {
    width: 300px;

    &__Item__Text {
      display: flex;
      flex-direction: column;

      h2 {
        margin: 0;
        margin-top: 1rem;
      }
    }
    &__Item__Price {
      font-size: 16px;
      margin-top: 0.5rem;
      font-weight: 200;
    }

    &__Item__Image {
      height: 200px;
      width: 100%;
      overflow: hidden;
      box-shadow: 2px 2px 10px #000;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 1s ease;
        border: none;
      }
    }

    &__Item__Image img:hover {
      transform: scale(1.1);
    }
  }
}
