.details {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 940px;
  min-height: 1000px;

  h1 {
    align-self: flex-start;
  }

  &__container {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-self: center;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 14px;
  }

  &__price {
    width: 100%;
    font-size: 18px;
    font-weight: 900;
    color: $primary-color;
    text-align: end;
  }

  &__description {
    margin: 1rem 0;
    display: flex;
    align-items: center;
    max-width: 940px;
  }
  &__facilites {
    height: 100%;
    color: $primary-color;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    &__bedtype {
      display: flex;
      align-items: center;
    }

    p {
      color: $primary-color;
    }
    svg {
      color: $primary-color;
      font-size: 14px;
    }
  }
}
