.AdminMenu {
  display: flex;
  flex-direction: column;

  &__Button {
    margin-top: 2rem;
    margin-right: 1rem;
  }

  &__Message__Item {
    border: 1px solid $primary-color;
    padding: 0.5rem;
    margin: 0.5rem 0;
  }

  &__Message__Heading {
    margin: 0.4rem 0;
  }

  &__ImageUpload {
    display: flex;
    flex-direction: column;

    button {
      margin-top: 1rem;
      align-self: center;
    }
  }
}

.Uppercase {
  text-transform: uppercase;
  font-weight: 600;
}
