.Main__Container {
  height: 400px;
  max-width: 1800px;
  margin-bottom: 1.5rem;

  &__Image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    box-shadow: 2px 2px 10px #000;
  }
}

.Featured {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1.5rem;
  width: 100%;

  .FeaturedCard {
    position: relative;

    img {
      height: 400px;
      width: 100%;
      object-fit: cover;
      box-shadow: 2px 2px 10px #000;
    }

    &__Item__Title {
      color: $secondary-color;
      margin-left: 1px;
      text-shadow: 2px 2px 1px #000;
      position: absolute;
      top: 0;
      padding: 0 2rem;
      background-color: #00405ead;
    }

    &__Item__Type {
      position: absolute;
      top: 3.2rem;
      padding: 0 1rem;
      margin-left: 1px;
      text-align: start;
      color: $primary-color;
      text-shadow: 1px 1px 2px #fff;
      background-color: rgba(255, 255, 255, 0.858);
    }
  }
}
