button {
  width: 150px;
  height: 45px;
  border: none;
  color: $secondary-color;
  background-color: $primary-color;
  font-family: $heading-font;
  font-size: 20px;

  &:hover {
    cursor: pointer;
    background-color: $green-color;
    color: $secondary-color;
  }
}

.LogOutButton {
  height: auto;
  color: $secondary-color;
  background-color: transparent;
  width: auto;
  font-size: 24px;
  text-shadow: 1px 1px 2px $gray-color;
  letter-spacing: 0.2rem;
  text-decoration: none;
  width: 100%;

  &:hover {
    background-color: $secondary-color;
    color: $primary-color;
    transition: all 0.2s ease-out;
    padding: 1rem;

    @include larger {
      border-radius: 5px;
    }
  }
}

.Back__Top__Container {
  position: fixed;
  width: 60px;
  right: 1rem;
  bottom: 55px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 64, 94, 0.705);
  border-radius: 5px;
  z-index: 3;

  #__Item {
    margin: 0 1rem;
    font-size: 25px;
    color: $secondary-color;
  }

  &:hover {
    cursor: pointer;
  }
}
