.Details__Image__Carousel {
  margin: 1rem auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;

  position: relative;

  .Image {
    width: 600px;
    height: fit-content;
    box-shadow: 2px 2px 10px #000;
  }

  .Slide {
    opacity: 0;
    transition-duration: 2s;
  }

  .Slide.Active {
    opacity: 1;
    transition-duration: 2s;
    height: 600px;

    @include larger {
      max-width: 80%;
    }

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      border: none;
    }
  }

  .Arrow__Right,
  .Arrow__Left {
    position: absolute;
    top: 50%;
    height: 50px;
    font-size: 2rem;
    z-index: 1;
    color: $primary-color;
    user-select: none;
    background-color: rgba(255, 255, 255, 0.651);

    &:hover {
      cursor: pointer;
    }
  }

  .Arrow__Right {
    right: 0;
    border-radius: 5px 0 0 5px;
  }

  .Arrow__Left {
    left: 0;
    border-radius: 0 5px 5px 0;
  }
}
