.ModalBackground {
  min-height: 1000px;
  width: 100%;
  background-color: $secondary-color;
  position: absolute;
  left: 0;
  display: flex;
  justify-content: center;
  padding-top: 40px;
  z-index: 2;

  .ModalForm {
    width: 80%;
    height: fit-content;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 2px solid $primary-color;
    padding: 1rem;
    box-shadow: 3px 3px 10px #000;

    @include larger {
      width: 700px;
    }

    .CloseModal {
      color: $primary-color;
      font-size: 30px;
      align-self: flex-end;

      &:hover {
        cursor: pointer;
      }
    }

    h1 {
      margin: 0;
      font-weight: 400;
    }

    &__Item {
      display: flex;
      flex-direction: column;
    }
  }
}
