.Search {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
  max-width: 625px;

  &__List {
    display: none;
    border-top: 1px solid $secondary-color;
    background-color: $primary-color;
    color: $secondary-color;
    padding: 0.7rem;

    a {
      color: $secondary-color;
    }

    a:hover {
      text-decoration: underline;
    }
  }

  &__Error {
    display: none;
    padding: 0.5rem;
    background-color: $red-color;
    color: $secondary-color;
    text-align: center;
  }

  .FadeIn {
    display: block;
    animation: FadeIn 1s;
  }
}

@keyframes FadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
