$primary-color: #00415e;
$secondary-color: #ffffff;
$gray-color: #333333;
$green-color: #006407;
$red-color: #a40d0d;

$primary-font: "address-sans-pro", sans-serif;
$heading-font: "Teko", sans-serif;
