label {
  margin-bottom: 0.5rem;
}

input {
  border: 1px solid $primary-color;
  padding: 0.7rem;
  background-color: $primary-color;
  color: $secondary-color;
  font-family: $primary-font;
  font-size: 16px;
  height: 50px;

  &:focus {
    outline: none;
  }

  &::placeholder {
    opacity: 1;
  }
}

input[type="checkbox"] {
  transform: scale(0.6);
}

textarea {
  border: 1px solid $primary-color;
  padding: 0.7rem;
  background-color: $primary-color;
  color: $secondary-color;
  font-family: $primary-font;
  font-size: 16px;
  height: 400px;
  &::placeholder {
    opacity: 1;
  }
}

select {
  border: 1px solid $primary-color;
  padding: 0.7rem;
  background-color: $primary-color;
  color: $secondary-color;
  font-family: $primary-font;
  font-size: 16px;
}

.contactForm {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  border: 2px solid $primary-color;
  padding: 1rem;

  &__item {
    display: flex;
    flex-direction: column;
  }
}

.loginForm {
  margin: 0 auto;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  border: 2px solid $primary-color;
  padding: 1rem;

  &__title {
    font-weight: 400;
    margin: 0;
  }

  &__item {
    display: flex;
    flex-direction: column;
  }
}

.modalBackground {
  height: 100%;
  width: 100%;
  background-color: $secondary-color;
  position: absolute;
  left: 0;
  display: flex;
  justify-content: center;
  padding-top: 40px;

  .modalForm {
    width: 80%;
    height: fit-content;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 2px solid $primary-color;
    padding: 1rem;
    box-shadow: 3px 3px 10px #000;

    @include larger {
      width: 700px;
    }

    .closeModal {
      color: $primary-color;
      font-size: 30px;
      align-self: flex-end;

      &:hover {
        cursor: pointer;
      }
    }

    h1 {
      margin: 0;
      font-weight: 400;
    }

    &__item {
      display: flex;
      flex-direction: column;
    }
  }
}

.establishmentForm {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 2px solid $primary-color;
  padding: 1rem;

  textarea {
    height: 300px;
  }

  &__title {
    font-weight: 400;
    margin: 0;
  }

  &__item {
    display: flex;
    flex-direction: column;
  }
}

.error {
  background-color: $red-color;
  color: $secondary-color;
  padding: 0.5rem;
  text-align: center;
}

.success {
  display: block;
  background-color: $green-color;
  color: $secondary-color;
  padding: 0.5rem;
  text-align: center;
}
