label {
  margin-bottom: 0.5rem;
}

input {
  border: 1px solid $primary-color;
  padding: 0.7rem;
  background-color: $primary-color;
  color: $secondary-color;
  font-family: $primary-font;
  font-size: 16px;
  height: 50px;

  &:focus {
    outline: none;
  }

  &::placeholder {
    opacity: 1;
  }
}

input[type="checkbox"] {
  transform: scale(0.6);
}

textarea {
  border: 1px solid $primary-color;
  padding: 0.7rem;
  background-color: $primary-color;
  color: $secondary-color;
  font-family: $primary-font;
  font-size: 16px;
  resize: vertical;
  min-height: 200px;
  &::placeholder {
    opacity: 1;
  }
}

select {
  border: 1px solid $primary-color;
  padding: 0.7rem;
  background-color: $primary-color;
  color: $secondary-color;
  font-family: $primary-font;
  font-size: 16px;
}

.Error {
  background-color: $red-color;
  color: $secondary-color;
  padding: 0.5rem;
  text-align: center;
}

.Success {
  display: block;
  background-color: $green-color;
  color: $secondary-color;
  padding: 0.5rem;
  text-align: center;
}
