* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  border: 1px solid $primary-color;
}

.Centered {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Column {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.Blue {
  color: $primary-color;
}

.Wrapper {
  margin: 0 1rem;
  margin-bottom: 8rem;

  @include larger {
    margin: 0 20%;
    margin-bottom: 4rem;
  }
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
